<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <th:block th:replace="~{home::header}"></th:block>
    <style>
        .centerpanel{
            background: black;
            color: white;
            width: 80%;
            height: 100vh;
            overflow-y: auto;
        }

        .centerpanel::-webkit-scrollbar{
            display: none;
        }

        .sidepanel{
            width: 10%;
        }

        .video-container{
            text-align: center;
        }

        .video-container video{
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 10px;
        }
    </style>
</head>
<body>
<!-- html data -->
<section class="vh-100 d-flex justify-content-between" style="background: black">
    <div class="sidepanel">
        <div class="me-auto ms-3 mt-3" style="width: fit-content">
            <a th:href="@{/home}"><i id="redirect-profile-btn" class="fa-solid fa-arrow-left fa-3x" style="color:white;text-decoration:none"></i></a>
        </div>
    </div>
    <div class="centerpanel" aria-orientation="horizontal">
        <div id="videopanel" class="row my-3" style="height: fit-content;width: 90%;justify-content: center">
        </div>
        <div id="loadspinner" class="mx-auto" style="width: 10%"><i class="fa-solid fa-spinner fa-spin-pulse fa-3x mx-auto"></i></div>
        <div id="observerunit" style="width: 100%;height: 200px"></div>
    </div>
    <div class="sidepanel"></div>
</section>
<!-- html data-->
<th:block th:replace="~{home::footer}"></th:block>
<script>
    let targetId;
    let pageNum = 0;
    let loadSign = true;

    let observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            if (entry.isIntersecting){
                if (loadSign){
                    $('#loadspinner').show();
                    setTimeout(function () {
                        loadReels();
                    }, 300);
                }
            }
        })
    });

    let observeUnit = document.getElementById("observerunit");
    observer.observe(observeUnit);

    $(document).ready(function () {
        $('#loadspinner').hide();

        let searchParams = new URLSearchParams(window.location.search);
        if (searchParams !== null) {
            targetId = searchParams.get('id');
        }
    });

    function loadReels(){
        $.ajax({
            url: 'reels/list',
            method: 'POST',
            data: {
                userId: targetId,
                pageNum: pageNum
            },
            success: function (response) {
                if (!response || !response.content || response.content.length === 0) {
                    loadSign = false;
                }
                if (loadSign) {
                    response.content.forEach((video, index, array) => {
                        $('#videopanel').append('<div class="col-lg-4 col-md-6 col-sm-12 video-container">' +
                            '<video controls loop>' +
                            '<source src="video/' + video.id + '" type="video/mp4">' +
                            '</video>' +
                            '<span">'+video.caption+'</span>' +
                            '</div>');
                    });
                    pageNum++;
                }
            },
            error: function (xhr, status, error){
                $('#loadspinner').hide();
            },
            complete: function (){
                $('#loadspinner').hide();
            }

        })
    }


</script>
</body>
</html>