<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <th:block th:replace="~{home::header}"></th:block>
    <style>
        .centerpanel{
            background: black;
            color: white;
            width: 80%;
            height: 100vh;
            overflow-y: auto;
        }

        .centerpanel::-webkit-scrollbar{
            display: none;
        }

        .sidepanel{
            width: 10%;
        }
    </style>
</head>
<body>
<!-- html data -->
<section class="vh-100 d-flex justify-content-between" style="background: black">
    <div class="sidepanel"></div>
    <div class="centerpanel" aria-orientation="horizontal">
        <form class="row" action="/upload" method="post" enctype="multipart/form-data">
            <input class="col-8" id="profilePicUpload" type="file" accept="image/*">
            <button class="col" id="profilePicFileBtn" type="button" style="overflow: hidden" onclick="fetchProfilePicFile()" >파일 보내기</button>
        </form>
    </div>
    <div class="sidepanel"></div>
</section>
<!-- html data-->
<th:block th:replace="~{home::footer}"></th:block>
<script th:inline="javascript">
    const max_size = 10 * 1024 * 1024;

    $("#profilePicUpload").on("change", function () {
        let filesize = this.files[0].size;
        if (filesize > max_size) {
            alert("파일 용량은 10MB로 제한됩니다.");
            $(this).val(''); //업로드한 파일 제거
        }
    });

    function fetchProfilePicFile() {
        let formData = new FormData();
        let fileInput = document.getElementById("profilePicUpload");
        formData.append('file', fileInput.files[0]);

        $(fileInput).val(''); //업로드한 파일 제거

        fetch('/upload/profilepic', {
            method: 'POST',
            body: formData // FormData 객체
        })
            .then(response => response.text())
            .then(data => {
                console.log(data); // 서버에서 반환한 데이터 출력
                alert("데이터가 성공적으로 전달되었습니다.");
                let currentUrl = window.location.href;
                let parts = currentUrl.split('/');
                parts.pop(); // Remove the last part (current page)
                parts.pop();
                location.href = parts.join('/')+"?tab=profile"; // Redirect to the parent URL
            })
            .catch(error => {
                console.error('Error:', error);
            });

    }
</script>
</body>
</html>