<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <th:block th:fragment="header">
    <!--  BootStrap5  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--  FontAwesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--  QuillCss-->
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.3/dist/quill.snow.css" rel="stylesheet">
    </th:block>

    <style>
    .side-bar-left{
        min-width: 20px;
        max-width: 200px;
        border-right: 1px solid darkslategray;
        background: black;
    }

    .main-content-center{
        background: black;
        color: white;
        width: 100%;
        overflow-y: auto;

        display: flex; /* Flexbox 레이아웃 사용 */
        justify-content: center; /* 수평 가운데 정렬 */
        align-items: flex-start ; /* 수직 가운데 정렬 */
        height: 100vh; /* 화면 전체 높이를 차지하도록 설정 */
    }
    .main-content-center::-webkit-scrollbar {
        display: none;
    }
    .profileitem::-webkit-scrollbar{
        display: none;
    }

    .side-bar-right{
        width: 400px;
        max-width: 100%;
        background: black;
        border-left: 1px solid darkslategray;
        align-content: center;
        color: white;

        display: flex;
        justify-content: center;
        align-items: flex-start; /* 수직 시작 위치*/
        height: 100vh;
    }

    .navbtn {
        outline-style: hidden;
        border: hidden;
        font-size: x-large;
        text-align: left;

        overflow: hidden;
        white-space: nowrap;
    }

    .profilebtn{
        outline-style: hidden;
        font-size: medium;
        text-align: center;
        text-overflow: fade;
        overflow: hidden;
        word-wrap: break-word;
    }


    .nav-item-text{
        color: white;
        text-decoration: none; /* 밑줄 제거 */
    }

    .panels{
        width: 80%;
        height: 100vh;
        display: flex;
    }

    .profileitem{
        margin: auto;
        padding: 5px;
        font-size: large;
        word-break: keep-all;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .msgtext{
        width: fit-content;
        height: fit-content;
        border: 1px darkslategray solid;
        border-radius: 10px;
        padding: 5px;
    }

    #messagepane{
        height: 90%;
        overflow-y: auto; /* 또는 overflow-y: scroll; */
        align-content: end;
        width: 90%;
    }

    #messagepane::-webkit-scrollbar{
        display: none;
    }

    #notificationsList::-webkit-scrollbar{
        display: none;
    }

    .notification-count {
        background-color: red;
        color: white;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 20px;
        display: inline-block;
    }

    #vquill::-webkit-scrollbar{
        display: none;
    }

    @media(max-width: 900px){
        .side-bar-right{
            display: none;
        }
    }

    @media (max-width: 600px) {
        .btnText{
            display: none;
        }
        .navbtn{
            text-align: center;
        }
        .nav-item{
            display: none;
        }
        .nav-item-text{
            display: block;
            text-align: center;
        }
        .picpanel{
            padding-top: 450px;
        }
        .postimage{
            height: 300px;
        }

    }

    @media (min-width: 601px) {
        .nav-item{
            display: block;
        }
        .nav-item-text {
            display: none;
        }
        .picpanel{
            padding-top: 150px;
        }
        .postimage{
            height: 250px;
        }
    }

    </style>
</head>
<body>
<!-- html data -->
<section class="vh-100 d-flex justify-content-between">
    <div class="side-bar-left">
        <div class="nav flex-column nav-pills mx-3 vh-100" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-item" th:href="@{/home}"><img src="/images/logo.webp" style="max-width: 100%" alt=""></a>
            <a class="nav-item-text" th:href="@{/home}"><i class="fa-brands fa-instagram fa-3x me-3"></i></a>
            <button class="btn btn-outline-dark navbtn text-white active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fa-solid fa-house me-3"></i><span class="btnText" th:text="#{home.home}"></span></button>
            <button class="btn btn-outline-dark navbtn text-white" id="v-pills-who-tab" data-bs-toggle="pill" data-bs-target="#v-pills-who" type="button" role="tab" aria-controls="v-pills-who" aria-selected="false"><i class="fa-solid fa-magnifying-glass me-3"></i><span class="btnText" th:text="#{home.search}">검색</span></button>
            <button class="btn btn-outline-dark navbtn text-white" id="v-pills-search-tab" data-bs-toggle="pill" data-bs-target="#v-pills-search" type="button" role="tab" aria-controls="v-pills-search" aria-selected="false"><i class="fa-solid fa-compass me-3"></i><span class="btnText" th:text="#{home.discover}">탐색</span></button>
            <button class="btn btn-outline-dark navbtn text-white" id="v-pills-video-tab" data-bs-toggle="pill" data-bs-target="#v-pills-video" type="button" role="tab" aria-controls="v-pills-video" aria-selected="false"><i class="fa-solid fa-camera-retro me-3"></i><span class="btnText" th:text="#{home.reels}">릴스</span></button>
            <button class="btn btn-outline-dark navbtn text-white" id="v-pills-message-tab" data-bs-toggle="pill" data-bs-target="#v-pills-message" type="button" role="tab" aria-controls="v-pills-message" aria-selected="false"><i class="fa-solid fa-location-arrow me-3"></i><span class="btnText" th:text="#{home.message}">메시지</span></button>
            <button class="btn btn-outline-dark navbtn text-white" id="v-pills-likey-tab" data-bs-toggle="pill" data-bs-target="#v-pills-likey" type="button" role="tab" aria-controls="v-pills-likey" aria-selected="false"><i class="fa-regular fa-heart me-3"></i><span class="btnText" th:text="#{home.notification}">알림</span><span id="notificationCount" class="notification-count mx-1"></span></button>
            <button class="btn btn-outline-dark navbtn text-white" id="v-pills-create-tab" data-bs-toggle="pill" data-bs-target="#v-pills-create" type="button" role="tab" aria-controls="v-pills-create" aria-selected="false"><i class="fa-regular fa-square-plus me-3"></i><span class="btnText" th:text="#{home.create}">만들기</span></button>
            <button th:if="${#strings.equals(user.grade,'Admin')}" class="btn btn-outline-dark navbtn text-white" onclick="goToDashboard()" type="button"><i class="fa-solid fa-chart-line me-3"></i><span class="btnText" th:text="#{home.dashboard}">대시보드</span></button>
            <button class="btn btn-outline-dark navbtn text-white" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false"><img class="me-3" th:src="${picurl.miniPic}" style="width: 35px; height: 35px; object-fit: cover;border-radius: 70%;"><span class="btnText" th:text="#{home.profile}">프로필</span></button>

            <div class="btn-group dropup mt-auto mb-3">
                <button class="btn btn-outline-dark navbtn text-white dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" type="button"><i class="fa-solid fa-bars me-3" ></i><span class="btnText" th:text="#{home.more}">더 보기</span></button>
                <ul class="dropdown-menu" style="background: black;border: 1px darkslategray solid">
                    <li><a class="dropdown-item" href="/logout" style="text-decoration: none;color: white" th:text="#{home.logout}">로그아웃</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-content-center tab-content" id="v-pills-tabContent">
        <div class="tab tab-pane fade panels show active " id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0" aria-orientation="horizontal" >
            <div class="pan" style="width: 100%; display: flex; justify-content: center; align-items: start; flex-direction: column;">
                <div id="homeposts" class="content mx-auto row" style="width: 80%;">

                </div>
                <div id="homeloadspinner" class="mx-auto" style="width: 10%"><i class="fa-solid fa-spinner fa-spin-pulse fa-3x mx-auto"></i></div>
                <div id="homeobserverunit" style="width: 100%;height: 200px"></div>
            </div>
        </div>
        <div class="tab tab-pane fade panels" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="1" aria-orientation="horizontal">
            <div class="row pt-5" style="width:100%;height: 30%">
                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6 ">
                    <img th:src="${picurl.profilePic}" style="border-radius: 70%;width: 80%">
                </div>
                <div class="col-xl-8 col-lg-7 col-md-6 col-sm-6">
                    <div class="col-4 pt-4" style="width: 100%">
                        <div class="row">
                            <div class="col-3 profileitem" style="font-weight: bold;font-size: larger" th:text="${user.getUserName()}"></div>
                            <div class="col-4 profileitem"><button class="btn btn-outline-dark profilebtn text-white" onclick="goToProfileEditPage()" th:text="#{home.profile.edit}">프로필 편집</button></div>
                            <div class="col-4 profileitem"><button class="btn btn-outline-dark profilebtn text-white" onclick="goTomyReels()" th:text="#{user.uploadedReels}">보관된 릴스 보기</button> </div>
                            <div class="col-1 profileitem"><i class="fa-solid fa-gear fa-lg"></i></div>
                        </div>
                    </div>
                    <div class="col-4" style="width: 100%">
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-3 profileitem" th:text="#{user.post(${posts.size()})}">게시물</div>
                            <div class="col-4 profileitem"><a id="followercount" href="#" data-bs-toggle="modal" data-bs-target="#followermodal" style="color: white;text-decoration: none" th:text="#{user.follower(${follow.getFollower()})}"></a>
                                <!-- Modal -->
                                <div class="modal fade" id="followermodal" tabindex="-1" aria-labelledby="followermodalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content" style="background: black">
                                            <div class="modal-header justify-content-between">
                                                <h1 class="modal-title fs-5" id="followermodalLabel" th:text="#{home.profile.follower}">팔로워 목록</h1>
                                                <a href="#" style="color: white;text-decoration: none" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-window-close fa-xl"></i></a>
                                            </div>
                                            <div id="followerList" class="modal-body">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->
                            </div>
                            <div class="col-4 profileitem"><a id="followingcount" href="#" data-bs-toggle="modal" data-bs-target="#followingmodal" style="color: white;text-decoration: none" th:text="#{user.following(${follow.getFollowing()})}" ></a>
                                <!-- Modal -->
                                <div class="modal fade" id="followingmodal" tabindex="-1" aria-labelledby="followingmodalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content" style="background: black">
                                            <div class="modal-header justify-content-between">
                                                <h1 class="modal-title fs-5" id="followingmodalLabel" th:text="#{home.profile.following}">팔로잉 목록</h1>
                                                <a href="#" style="color: white;text-decoration: none" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-window-close fa-xl"></i></a>
                                            </div>
                                            <div id="followingList" class="modal-body">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </div>
                    <div class="col-4 pt-4" style="width: 100%">
                        <div class="row profileitem" style="font-weight: bold" th:text="${user.getFullName()}">

                        </div>
                        <div class="row profileitem" style="height: 100px; overflow: scroll" th:text="${user.getBio()}">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row picpanel" style="width:100%;">
                <div class="col-xxl-4 col-md-6 my-3" th:each="post : ${posts}">
                    <a th:href="@{'/post?id='+${post.getId()}}"><img class="postimage" th:src="${post.getImageUrl()}" style="border-radius: 20%;width: auto;" alt=""></a>
                </div>
            </div>
        </div>
        <div class="tab tab-pane fade panels" id="v-pills-create" role="tabpanel" aria-labelledby="v-pills-create-tab" tabindex="2" aria-orientation="horizontal">
            <div class="pan" style="width: 100%;display: flex;justify-content: center;align-content: start">
                <div class="card text-center mt-5" style="width: 60%;min-width: 250px">
                    <div class="card-header text-white" style="background: darkslategray;" th:text="#{home.create}">
                        만들기
                    </div>
                    <div class="card-body text-white" style="background: black">
                        <h5 id="hiddenTitle" class="card-title" th:text="#{home.create.feedpic}">피드 작성을 위한 사진을 등록해주세요.</h5>
                        <input type="file" id="postPicInput" accept="image/*">
                        <img id="postPicImg" hidden="hidden" style="width: 200px;height: 200px">
                        <p></p>
                        <button type="button" id="postPicDeleteBtn" class="btn btn-outline-dark profilebtn text-white" hidden="hidden" style="justify-content: end" th:text="#{home.create.feedpic.delete}">사진 삭제</button>
                    </div>
                    <div class="card-footer text-center text-white" style="background: black;border-top: darkslategray;border-style: solid;height: fit-content;border-width: 1px">
                        <div id="editor"></div>
                    </div>
                </div>
            </div>
            <div class="pan" style="width: 100%;display: flex;justify-content: center;align-content: start">
                <div class="minipan" style="width: 60%;min-width: 200px"></div>
                <a href="#!" onclick="fetchPostData()" class="mt-2 me-3" style="justify-content: end;text-decoration: none;color: white"><i class="fa-solid fa-arrow-right fa-lg"></i></a>
            </div>
        </div>
        <div class="tab tab-pane fade panels" id="v-pills-who" role="tabpanel" aria-labelledby="v-pills-who-tab" tabindex="3" aria-orientation="horizontal">
            <div class="pan" style="width: 100%; display: flex; justify-content: center; align-items: start; flex-direction: column;">
                <div class="content my-4 mx-auto" style="width: 80%; display: flex;">
                    <div class="me-3" style="width: 20%; display: flex; justify-content: end; align-items: center;" th:text="#{home.search.search}"><i class="fa-solid fa-magnifying-glass fa-xl align-content-center mx-2"></i> 검색하기</div>
                    <div id="searchbar" style="width: 80%; border-radius: 10px;"></div>
                </div>
                <div id="postscontent" class="content mx-auto row" style="width: 80%;">

                </div>
                <div id="loadspinner" class="mx-auto" style="width: 10%"><i class="fa-solid fa-spinner fa-spin-pulse fa-3x mx-auto"></i></div>
                <div id="observerunit" style="width: 100%;height: 200px"></div>
            </div>
        </div>
        <div class="tab tab-pane fade panels" id="v-pills-message" role="tabpanel" aria-labelledby="v-pills-message-tab" tabindex="4" aria-orientation="horizontal">
            <div class="pan" style="width: 80%; display: flex; justify-content: center; align-items: start; flex-direction: column;">
                <div class="h1 my-4" th:text="#{home.message}">
                    메시지
                </div>
                <div id="messageList" style="width: 100%;display: flex;justify-content: center;align-content: start;flex-direction: column">

                </div>
            </div>
            <div class="offcanvas offcanvas-end" id="v-offcanvas-message" aria-labelledby="v-offcanvas-message-label" tabindex="5" style="width: 80%;background: black;color: white">
                <div class="offcanvas-header justify-content-between">
                    <h5 class="offcanvas-title" id="offcanvasRightLabel" th:text="#{home.message}">메세지</h5>
                    <a href="#" style="color: white;text-decoration: none" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fa-solid fa-window-close fa-xl"></i></a>
                </div>
                <div id="msguserpic"></div>
                <div class="offcanvas-body align-content-end" style="width: 100%;height: 100%">
                    <div id="messagepane" class="flex-column align-content-end">
                        <div id="messagetop" style="height: 300px"></div>
                        <div id="messageContent" style="height: 90%;width: 100%"></div>
                    </div>
                    <div class="mt-3" style="height: 8%;width: 100%;display: flex">
                        <div id="msquill" style="width: 90%;border-radius: 10px"></div>
                        <div class="ms-2 mt-auto" style="width: fit-content"><a href="#" style="color: white;text-decoration: none" onclick="messagefunc()"><i class="fa-solid fa-arrow-up fa-3x"></i></a></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="tab tab-pane fade panels" id="v-pills-likey" role="tabpanel" aria-labelledby="v-pills-likey-tab" tabindex="5" aria-orientation="horizontal">
            <div class="pan" style="width: 80%; display: flex; justify-content: center; align-items: start; flex-direction: column;">
                <div class="my-4 justify-content-between" style="width: 100%;display: flex;flex-direction: row">
                    <div class="h1" th:text="#{home.notification}">알림</div>
                    <div class="text-body-secondary text-decoration-underline"><a id="notificationsDelete" href="#" style="color: white" th:text="#{home.notification.delete}">모두 삭제</a></div>
                </div>
                <div id="notificationsList" style="width: 100%;display: flex;justify-content: center;align-content: start;flex-direction: column;overflow-y: auto">

                </div>
            </div>
        </div>
        <div class="tab tab-pane fade panels" id="v-pills-video" role="tabpanel" aria-labelledby="v-pills-video-tab" tabindex="6" aria-orientation="horizontal">
            <div class="pan justify-content-between" style="display: flex">
                <div id="videoPanel" style="width: 80%;justify-content: center">
                    <video controls autoplay loop class="my-3" id="videoPlayer" style="width: 100%;">
                        <source id="videoSource" src="" type="video">
                        <span th:text="#{home.reels.empty}"></span>
                    </video>
                    <div id="videoCaption" class="justify-content-center d-flex" style="width: 100%">
                    </div>
                    <div class="justify-content-between d-flex" style="width: 100%">
                        <a href="#!" style="color: white;text-decoration: none" onclick="previousVideo()"><i class="fa-solid fa-arrow-left fa-2x"></i></a>
                        <a href="#!" style="color: white;text-decoration: none" onclick="nextvideo()"> <i class="fa-solid fa-arrow-right fa-2x"></i></a>
                    </div>
                </div>
                <div style="width: 20%">
                    <div class="ms-auto me-3 mt-3" style="width: fit-content">
                        <a id="videoCreateBtn" href="#!" data-bs-toggle="modal" data-bs-target="#videoModal"><i id="redirect-profile-btn" class="fa-regular fa-square-plus fa-2x" style="color:white;text-decoration:none"></i></a>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true" >
                    <div class="modal-dialog">
                        <div class="modal-content" style="background: black;color: white;border: white 1px solid">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="videoModalLabel" th:text="#{home.reels.create}">릴스 만들기</h1>
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p><label for="videoUpload" th:text="#{home.reels.uploadvideo}">Upload a video:</label></p>
                                <input type="file" id="videoUpload" name="video" accept="video/*">
                            </div>
                            <div id="vquill" style="height: 80px;">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="videoUploadBtn" th:text="#{upload}">Upload</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab tab-pane fade panels" id="v-pills-search" role="tabpanel" aria-labelledby="v-pills-search-tab" tabindex="7" aria-orientation="horizontal">
            <div class="pan justify-content-between" style="display: flex">
                <div id="ollamaPanel" class="mt-4" style="width: 80%;justify-content: center;align-content: end;height: 90vh">
                    <div id="chatPanel" style="width: 100%">
                    </div>
                    <div id="oquill" style="width: 100%;height: 50px;border-radius: 10px">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="side-bar-right" style="justify-content: end">
    </div>
</section>

<!-- html data-->
<th:block th:fragment="footer">
<!-- BootStrap5 js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<!-- jquery -->
<script  src="https://code.jquery.com/jquery-latest.min.js"></script>
<!-- quill editor-->
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.3/dist/quill.js"></script>

</th:block>
<script th:inline="javascript">
    const videoUrlPrefix = /*[[${videoPath}]]*/ '';

    const maxSize = /*[[${fileMaxSize}]]*/ + 0;
    const captionSize = /*[[${postCaptionSize}]]*/ '';
    const filemaxsizecomment = /*[[#{post.filesize}]]*/ '';
    const commentlengthcomment = /*[[#{post.commentsize}]]*/ '';

    let quill
    let squill;
    let vquill;
    let oquill;
    let postsPageNum = 0;
    let recommendedPageNum = 0;
    let msgNum = 0;
    let targetGlobalName = '';
    let outofindexsign = false;

    let videoPageNum = 0;

    notificationEmitterLoad();


    // quill keyBindings
    const keybindings ={
        list:{
            key: 'Enter',
            handler: function (){
                let plainTextFromQuill = getPlainTextFromQuill(squill);
                $('#postscontent').empty();
                postsPageNum = 0;
                loadPosts(plainTextFromQuill);
                return false;
            }
        }
    }


    // quill keyBindings
    const messageKeybindings ={
        list:{
            key: 'Enter',
            handler: function (){
                messagefunc();
                return false;
            }
        }
    }

    const ollamaKeybindings ={
        list:{
            key: 'Enter',
            handler: function (){
                return false;
            }
        }
    }

    function messagefunc(){
        let plainTextFromQuill = getPlainTextFromQuill(msquill);
        if (msquill.getLength() === 1 || msquill.getLength() >= 100) {
            msquill.setText('');
        }else{
            sendMsg(plainTextFromQuill,$('#msgtargetuser').text());
            setTimeout(function () {
                scrollToBottom($('#messagepane')[0]);
            }, 100);
            msquill.setText('');
        }
    }


    // LoadPost Data
    let observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            if (entry.target.id === 'observerunit'){
                if (entry.isIntersecting) {
                    $('#loadspinner').show();
                    if (squill.getLength() === 1) {
                        setTimeout(function () {
                            loadPosts()
                        }, 1000);
                    }else
                    {
                        let plainTextFromQuill = getPlainTextFromQuill(squill);
                        setTimeout(function () {
                            loadPosts(plainTextFromQuill);
                        }, 1000);
                    }

                }
            }if (entry.target.id === 'messagetop'){
                if (entry.isIntersecting) {
                    if (outofindexsign){

                    }else{
                        setTimeout(function () {
                            loadMsg(targetGlobalName);
                        }, 300);
                        scrollDownSlightly();
                    }
                }
            }
            if (entry.target.id === 'homeobserverunit'){
                if (entry.isIntersecting){
                    $('#homeloadspinner').show();
                    setTimeout(function () {
                        findHomePage();
                    }, 300);
                }
            }
        });
    });

    // Observer Data Set
    let targetdiv = document.getElementById('observerunit');
    let targetmsgdiv = document.getElementById('messagetop');
    let homeobserverunit = document.getElementById('homeobserverunit');
    observer.observe(targetdiv);
    observer.observe(targetmsgdiv);
    observer.observe(homeobserverunit);



    // ProfilePage Btn
    function goToProfileEditPage() {
        window.location.href = /*[[@{/profile/edit}]]*/ "";
    }

    function goTomyReels(){
        window.location.href = /*[[@{/myreels}]]*/ '';
    }

    function goToDashboard() {
        window.location.href = /*[[@{/dashboard}]]*/ '';
    }



    // Document.ready
    $(document).ready(function () {
        loadNotifications();
        findHomePage();
        $('#homeloadspinner').hide();


        // 파라미터 확인
        let searchParams = new URLSearchParams(window.location.search);
        if (searchParams !== null) {
            let enableTab = searchParams.get('tab');
            if (enableTab === 'profile') {
                $('#v-pills-home-tab').removeClass('active').attr('aria-selected', 'false');
                $('#v-pills-profile-tab').addClass('active').attr('aria-selected', 'true');
                $('#v-pills-home').removeClass('show').removeClass('active');
                $('#v-pills-profile').addClass('show').addClass('active');
            }
            if (enableTab === 'reels') {
                $('#v-pills-home-tab').removeClass('active').attr('aria-selected', 'false');
                $('#v-pills-video-tab').addClass('active').attr('aria-selected', 'true');
                $('#v-pills-home').removeClass('show').removeClass('active');
                $('#v-pills-video').addClass('show').addClass('active');
            }

        }

        // editor quill settings
        const option = {
            theme: 'snow',
            modules:{
                toolbar: false
            }
        }
        const optionForSquill ={
            theme: 'snow',
            modules: {
                toolbar: false,
                keyboard: {
                    bindings: keybindings
                }
            }
        }
        const optionForMsquill ={
            theme: 'snow',
            modules: {
                toolbar: false,
                keyboard: {
                    bindings: messageKeybindings
                }
            }
        }
        const optionForOquill ={
            theme: 'snow',
            modules: {
                toolbar: false,
                keyboard: {
                    bindings: ollamaKeybindings
                }
            }
        }
        quill = new Quill('#editor',option);
        squill = new Quill('#searchbar', optionForSquill);
        msquill = new Quill('#msquill', optionForMsquill);
        vquill = new Quill('#vquill', option);
        oquill = new Quill('#oquill', optionForOquill);


        // file upload
        $('#postPicInput').on('change',function () {
            let selectedFile = $(this)[0].files[0];
            if (selectedFile) {
                let reader = new FileReader();
                reader.onload = function(event) {
                    let imageUrl = event.target.result;
                    $('#postPicImg').attr('src', imageUrl).removeAttr('hidden');
                    $('#hiddenTitle').attr('hidden', 'hidden');
                    $('#postPicInput').attr('hidden', 'hidden');
                    $('#postPicDeleteBtn').removeAttr('hidden');
                    loadMsgOnTab();

                };
                reader.readAsDataURL(selectedFile);
            }
        });

        // follower Modal
        $('#followermodal').on('show.bs.modal', function (e) {
            $.ajax({
                url: '/find/myfollower',
                method: 'GET',
                success: function(response) {
                    let followerList = response;
                    let $followerList = $('#followerList');
                    $followerList.empty();
                    followerList.forEach(function(follower) {
                        $followerList.append('<div class="follower-item"><a style="color: white;text-decoration: none" href="profile?id='+follower.userId+'">'+
                            '<img class="mx-2" src="' + follower.userPic + '" style="border-radius: 70%">' +
                            '<span>' + follower.userName + '</span></a>' +
                            '</div>');
                    });
                },
                error: function(xhr, status, error) {
                    console.error('AJAX 오류:', status, error);
                }
            });
        });

        // Following Modal
        $('#followingmodal').on('show.bs.modal', function (e) {
            $.ajax({
                url: '/find/myfollowing',
                method: 'GET',
                success: function(response) {
                    let followingList = response;
                    let $followingList = $('#followingList');
                    $followingList.empty();
                    followingList.forEach(function(following) {
                        $followingList.append('<div class="following-item"><a style="color: white;text-decoration: none" href="profile?id='+following.userId+'">'+
                            '<img class="mx-2" src="' + following.userPic + '" style="border-radius: 70%">' +
                            '<span>' + following.userName + '</span></a>' +
                            '</div>');
                    });
                },
                error: function(xhr, status, error) {
                    console.error('AJAX 오류:', status, error);
                }
            });
        });

        $('#videoModal').on('show.bs.modal', function (e) {
            resetUploadVideoForm();
        });


        $('#v-pills-who-tab').on('show.bs.tab', function (e) {
            loadPosts()
        });

        $('#v-pills-message-tab').on('show.bs.tab', function (e) {
            loadMsgOnTab();
        });

        // notifications
        $('#v-pills-likey-tab').on('show.bs.tab', function (e) {
            $.ajax({
                url: '/find/notifications',
                method: 'GET',
                success: function (response) {
                    let notifications = response;
                    let $notificationsList = $('#notificationsList');
                    $notificationsList.empty();
                    notifications.forEach((notifications, index, array) => {
                        $notificationsList.prepend('<div class="my-4 h4" style="display: flex;justify-content: space-between;align-content: start">' +
                            '<a href="#" style="color: white;text-decoration: none" onclick="findNotificationPage('+notifications.id+')">'+notifications.message+'</a>' +
                            '</div>');
                        if (index !== array.length - 1) {
                            $notificationsList.prepend('<div class="mx-auto" style="width: 95%;border-top: 1px solid darkslategray"></div>')
                        }
                    });
                },
                error: function (xhr, status, error) {
                    console.error('AJAX 오류:', status, error);
                }
            });
        });

        $('#notificationsDelete').click(function () {
            $.ajax({
                url: '/delete/notifications',
                method: 'GET',
                success: function (){
                    $('#notificationsList').empty();
                },
                error: function(xhr, status, error){
                    console.error('AJAX 오류:', status, error);
                }
            })
        });

        $('#v-pills-home-tab').on('show.bs.tab', function (e) {
            findHomePage();
        });

        $('#v-pills-video-tab').on('show.bs.tab', function (e) {
            videoLoad();
        });

        $('#v-pills-video-tab').on('hidden.bs.tab', function (e) {
            $('#videoPlayer')[0].pause();
        });


    })
    // document.ready

    // video upload
    $('#videoUploadBtn').on('click', function () {
        uploadVideo();
    });


    // offcanvas msg req
    $(document).on('click', '[data-bs-toggle="offcanvas"]', function() {
        msgNum = 0;
        $('#messageContent').empty();
        // 클릭된 a 태그의 data-target-id 속성을 가져옵니다.
        let targetId = $(this).data('target-id');
        // 해당하는 messageUser의 텍스트를 가져옵니다.
        let targetUserId = $('#' + targetId).text().trim();
        let imageSrc = $('#' + targetId).find('img').attr('src');

        $('#msguserpic').empty().append('<div class="mx-3" style="font-size: x-large">' +
            '<img src="' + imageSrc + '" alt="" style="border-radius: 70%;width: 30px;height:30px">' +
            '<span id="msgtargetuser" class="mx-2">'+targetUserId+'</span>' +
            '</div>');

        loadMsg(targetUserId);
        targetGlobalName = targetUserId;

        messageEmitterLoad();

        // 메시지를 불러온 후에 스크롤을 최하단으로 이동합니다.
        setTimeout(function () {
            scrollToBottom($('#messagepane')[0]);
        }, 500);
    });

    $('#v-offcanvas-message').on('hidden.bs.offcanvas', function () {
    });

    function nextvideo(){
        videoPageNum++;
        videoLoad();
    }

    function previousVideo(){
        videoPageNum--;
        videoLoad();
    }

    // video load
    function videoLoad(){
        $.ajax({
            url: "/video/list",
            method: 'POST',
            data: {
                pageNum: videoPageNum
            },
            success: function (response){
                if (!response || !response.content || response.content.length === 0) {
                    alert(/*[[#{home.reels.nomorevideo}]]*/);
                    videoPageNum = 0;
                    videoLoad();
                    return;
                }
                response.content.forEach((video, index, array) => {
                        $('#videoPlayer').attr('src', 'video/' + video.id);
                        $('#videoPlayer')[0].load();
                        $('#videoCaption').empty().append('<a href="/profile?id=' + video.userId + '" style="color: white;text-decoration: none">'+video.caption+'</a>');
                    }
                );
            }
        })
    }

    function uploadVideo(){
        let input = document.getElementById("videoUpload");
        let formData = new FormData();
        formData.append('file', input.files[0]);
        formData.append('caption', getPlainTextFromQuill(vquill));

        $.ajax({
            url: "/video/upload",
            method: 'POST',
            data: formData,
            processData: false,  // Prevent jQuery from automatically transforming the data into a query string
            contentType: false,  // Ensure the request is sent as a multipart/form-data request
            success: function (response){
                alert(/*[[#{home.reels.upload.success}]]*/);
                window.location.reload();
            },
            error: function (xhr, status, error) {
                console.error('Upload failed:', status, error);
                alert(/*[[#{home.reels.upload.error}]]*/);
            }
        });
    }

    function resetUploadVideoForm() {
        $('#videoUpload').val('');
        vquill.setText('');
    }


    function messageEmitterLoad() {
        const messageEventsource = new EventSource("/find/emitter/messages");

        messageEventsource.onmessage = function (event) {
            let parse = JSON.parse(event.data);
            const messagesDiv = $('#messageContent');
            console.log(parse);
            if (parse.userName === $('#msgtargetuser').text()) {
                messagesDiv.append('<div class="me-auto msgtext">' + parse.message + '</div>');
                setTimeout(function () {
                    scrollToBottom($('#messagepane')[0]);
                }, 300);
            }
        };
    }

    function notificationEmitterLoad() {
        const notificationsEventsource = new EventSource('/find/emitter/notifications');

        notificationsEventsource.onmessage = function(event) {
            let parse = JSON.parse(event.data);
            const notificationsDiv = $('#notificationCount');
            console.log(parse);
            if (parse !== null && parse !== '') {
                notificationsDiv.show();
                notificationsDiv.text(parse);
            } else {
                notificationsDiv.hide();
            }
        };
    }

    // 스크롤을 최하단으로 이동하는 함수
    function scrollToBottom(targetElement) {
        targetElement.scrollTop = targetElement.scrollHeight;
    }

    function findHomePage() {
        $.ajax({
            url: 'find/posts/recommended',
            method: 'POST',
            data: {
                recommendedPageNum: recommendedPageNum
            },
            success: function (response) {
                let recommended = response;
                let $homeList = $('#homeposts');
                if (!recommended) {
                    return;
                }
                recommended.content.forEach((rec, index, array) => {
                    let randCommentContent;
                    if (rec.randComment.content === "" || rec.randComment.content === null) {
                        randCommentContent = /*[[#{home.post.comment.empty}]]*/ '';
                    }else{
                        randCommentContent = rec.randComment.content;
                    }

                    let cardHTML = `<div class="card my-5 mx-4" style="width: 80%;background: black;color: white;border: 1px solid darkslategray">
                            <img class="card-img-top mt-4 mb-2 me-4 img-fluid" src="${rec.postPic}" alt="...">
                            <div class="card-body">
                                <p style="text-align: end"><i class="fa-solid fa-heart me-2" style="color: red;"></i>${rec.likeyCount}</p>
                                <a href="/profile?id=${rec.creatorName}" style="color: white;text-decoration: none"><h5 class="card-title">
                                    <img src="${rec.creatorPic}" style="border-radius: 70%">
                                    ${rec.creatorName}
                                </h5></a>
                                <p class="card-text"><a href="/post?id=${rec.postId}" style="color: white;text-decoration: none">${rec.caption}</a></p>
                            </div>
                            <div class="card-footer" style="background: black;color: white">
                                <p><a href="/post?id=${rec.postId}" style="color: white;text-decoration: none"><i class="fa-regular fa-comment-dots fa-2xl me-2"></i>Comment</a></p>
                                <div style="width: 100%;border: 1px darkslategray solid;border-radius: 10px">
                                    <p class="mx-2 my-2"><a href="/post?id=${rec.postId}" style="color: white;text-decoration: none">${randCommentContent}</a></p>
                                </div>
                            </div>
                        </div>
                    `;

                    $homeList.append(cardHTML);
                });

                recommendedPageNum++;
            },
            error: function () {
                $('#homeloadspinner').hide();
            },
            complete: function () {
                $('#homeloadspinner').hide();
            }
        });
    }


    function findNotificationPage(notifications){
        $.ajax({
            url: '/find/notifications/page',
            method: 'POST',
            data: {
                notifications: notifications
            },
            success: function (response){
                let parse = JSON.parse(response);
                if (parse.post !== undefined && parse.post !== null) {
                    window.location.href = "/post?id=" + parse.post;
                }
                if (parse.sender !== undefined && parse.sender !== null) {
                    $('#v-pills-likey-tab').removeClass('active').attr('aria-selected', 'false');
                    $('#v-pills-message-tab').addClass('active').attr('aria-selected', 'true');
                    $('#v-pills-likey').removeClass('show').removeClass('active');
                    $('#v-pills-message').addClass('show').addClass('active');
                    loadMsgOnTab();
                }
                if (parse.follower !== undefined && parse.follower !== null) {
                    window.location.href = "/profile?id=" + parse.follower;
                }
            },
            error: function (xhr, status, error){
                console.error('AJAX 오류:', status, error);
            }
        })
    }


    function loadNotifications() {
        $.ajax(
            $.ajax({
                url: '/find/notifications/count',
                method: 'GET',
                success: function (response){
                    if (response !== null && response !== '') {
                        $('#notificationCount').show().text(response.toString());
                        console.log(response);
                    }else{
                        $('#notificationCount').hide();
                        console.log(response);
                    }
                },
                error: function(xhr, status, error){
                    console.error('AJAX 오류:', status, error);
                }
            })
        )
    }

    function scrollDownSlightly() {
        // 현재 스크롤 위치를 가져옵니다.
        const currentScroll = document.getElementById('messagepane').scrollTop;

        // 스크롤을 약간 내립니다. (예: 100px)
        const targetScroll = currentScroll + 100;

        // 스크롤 위치를 조정합니다.
        document.getElementById('messagepane').scrollTop = targetScroll;
    }

    // Pic delete Btn
    $('#postPicDeleteBtn').click(function () {
        $('#postPicImg').attr('hidden','hidden');
        $('#hiddenTitle').removeAttr('hidden');
        $('#postPicInput').removeAttr('hidden').val('');
        $('#postPicDeleteBtn').attr('hidden','hidden');
    });

    function loadMsgOnTab(){
        $.ajax({
            url: '/find/myfollowing',
            method: 'GET',
            success: function (response) {
                let followingList = response;
                let $messageList = $('#messageList');
                $messageList.empty();
                followingList.forEach((following, index, array) => {
                    let messageUserId = 'messageUser-' + index;
                    $messageList.append('<div id="' + messageUserId + '" class="messageUser my-4 h4" style="display: flex;justify-content: space-between;align-content: start">' +
                        '<div><a style="color: white;text-decoration: none" href="profile?id=' + following.userId + '">' +
                        '<img class="mx-2" src="' + following.userPic + '" style="border-radius: 70%;width: 40px;height: 40px">' +
                        '<span>' + following.userName + '</span></a></div>' +
                        '<div><a href="#" style="color: white;text-decoration: none" data-bs-toggle="offcanvas" data-bs-target="#v-offcanvas-message" aria-controls="v-offcanvas-message" data-target-id="' + messageUserId + '"><i class="fa-solid fa-message"></i></a></div>' +
                        '</div>');
                    if (index !== array.length - 1) {
                        $messageList.append('<div class="mx-auto" style="width: 95%;border-top: 1px solid darkslategray"></div>')
                    }
                });
            },
            error: function (xhr, status, error) {
                console.error('AJAX 오류:', status, error);
            }
        });
    }


    // Send Message
    function sendMsg(text, targetId) {
        $.ajax({
            url: '/send/message/new',
            method: 'POST',
            data: {
                text: text,
                targetId: targetId
            },
            success: function () {
                $('#messageContent').append('<div class="ms-auto my-1 msgtext">'+text+'</div>')
            },
            error: function (error) {
                console.log("전송 실패", error);
            }
        });
    }

    function loadMsg(targetId){
        $.ajax({
            url: '/find/message',
            method: 'POST',
            data: { userId: targetId,
                msgNum: msgNum},
            success: function(response, status, xhr) {
                let messageList = response;
                let $messageContent = $('#messageContent');
                let contentType = xhr.getResponseHeader('Content-Type');
                if (contentType && contentType.indexOf('application/json') !== -1) {
                    messageList.content.forEach(function(message) {
                        if (message.mine){
                            $messageContent.prepend('<div class="ms-auto my-1 msgtext">'+message.content+'</div>');
                        }else{
                            $messageContent.prepend('<div class="me-auto my-1 msgtext">'+message.content+'</div>');
                        }
                    });
                    outofindexsign = false;
                }else{
                    outofindexsign = true;

                }
                msgNum += 1;
            },
            error: function(xhr, status, error) {

            }
        });
    }

    // Post Loading Logic
    function loadPosts(text) {
        if (squill.getLength() === 1){
            // 검색창 비어있으면 get 으로 랜덤 데이터 로드
            $.ajax({
                url: '/find/posts',
                method: 'GET',
                success: function (response) {
                    let posts = response;
                    let $postscontent = $('#postscontent');
                    posts.forEach(function(post) {
                        $postscontent.append(
                            '<div class="card mx-auto col-4 py-3" style="background: black;border-radius: 10px">\n' +
                            '  <a href="post?id='+post.id+'"><img src='+post.imageUrl+' class="card-img-top" alt="..."></a>\n' +
                            ' </div>')
                    });

                },
                error: function(xhr, status, error) {
                    console.error('AJAX 오류:', status, error);
                },
                complete: function (){
                    $('#loadspinner').hide();
                }

            })
        }else{
            // 비어있지 않으면 post 로 cond 데이터 로드
            $.ajax({
                url: '/find/posts',
                method: 'POST',
                data: {
                    cond : text,
                    pageNum: postsPageNum
                },
                success: function (response){
                    let condposts = response;
                    let $postscontent = $('#postscontent');
                    condposts.content.forEach(function (post) {
                        $postscontent.append(
                            '<div class="card mx-auto col-4 py-3" style="background: black;border-radius: 10px">\n' +
                            '  <a href="post?id='+post.id+'"><img src='+post.imageUrl+' class="card-img-top" alt="..."></a>\n' +
                            ' </div>')
                    });
                    postsPageNum += 1;
                },
                error: function(xhr, status, error) {
                    console.error('AJAX 오류:', status, error);
                },
                complete: function (){
                    $('#loadspinner').hide();
                }
            })
        }


    }

    function getPlainTextFromQuill(quill) {
        // Quill 에디터에서 Delta 형식의 객체를 가져옵니다.
        const delta = quill.getContents();

        // Delta를 사용하여 텍스트를 원시 텍스트로 변환합니다.
        const rawText = delta.reduce((text, op) => {
            if (typeof op.insert === 'string') {
                return text + op.insert;
            }
            return text;
        }, '');

        // 줄 바꿈 문자를 제거하고 반환합니다.
        return rawText.replace(/\n/g, '');
    }

    function fetchPostData() {
        let formData = new FormData();
        let fileInput = document.getElementById("postPicInput");
        let file = fileInput.files[0];
        if (file.size > maxSize) {
            alert(filemaxsizecomment.replace("{0}",maxSize/1024/1024));
        } else {
            if (file.size > (maxSize / 2)) {
                console.log("다운사이징 진행")
                const image = new Image();
                image.src = URL.createObjectURL(file);
                image.onload = function() {
                    const downsampledFile = downsampleImage(image, 500, 500);
                    formData.append('file', downsampledFile);
                    sendFormData(formData);
                };
            }else{
                formData.append('file', file);
                sendFormData(formData);
            }
        }
    }

    function sendFormData(formData) {
        let text = quill.getText();
        if (captionSize < text.length){
            alert(commentlengthcomment.replace("{0}",captionSize));
            return;
        }
        formData.append('caption', text);

        let fileInput = document.getElementById("postPicInput");
        $(fileInput).val(''); //업로드한 파일 제거

        fetch('/upload/postpic', {
            method: 'POST',
            body: formData // FormData 객체
        })
            .then(response => response.text())
            .then(data => {
                console.log(data); // 서버에서 반환한 데이터 출력
                alert(/*[[#{File.sendFile.success}]]*/);
                window.location.href = 'home';
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function downsampleImage(image, maxWidth, maxHeight) {
        const canvas = document.createElement('canvas');
        const ctx = canvas.getContext('2d');

        // 이미지 크기 설정
        let width = image.width;
        let height = image.height;

        // 이미지 크기를 maxWidth 및 maxHeight에 맞게 조정
        if (width > maxWidth) {
            height *= maxWidth / width;
            width = maxWidth;
        }
        if (height > maxHeight) {
            width *= maxHeight / height;
            height = maxHeight;
        }

        // Canvas 크기 설정
        canvas.width = width;
        canvas.height = height;

        // Canvas에 이미지 그리기
        ctx.drawImage(image, 0, 0, width, height);

        return dataURLtoBlob(canvas.toDataURL('image/jpeg')); // 다운샘플링된 이미지를 Blob으로 반환
    }

    function dataURLtoBlob(dataURL) {
        const byteString = atob(dataURL.split(',')[1]);
        const mimeString = dataURL.split(',')[0].split(':')[1].split(';')[0];
        const arrayBuffer = new ArrayBuffer(byteString.length);
        const uint8Array = new Uint8Array(arrayBuffer);
        for (let i = 0; i < byteString.length; i++) {
            uint8Array[i] = byteString.charCodeAt(i);
        }
        return new Blob([arrayBuffer], { type: mimeString });
    }


</script>
</body>
</html>