<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.clonegram.mybatis.mapper.UserMapper">

    <resultMap id="userMap" type="User">
        <id property="id" column="user_id"/>
        <result property="userName" column="username"/>
        <result property="Email" column="email"/>
        <result property="password" column="password"/>
        <result property="fullName" column="full_name"/>
        <result property="bio" column="bio"/>
        <result property="profileImageUrl" column="profile_image_url"/>
        <result property="grade" column="grade" javaType="Grade" typeHandler="com.jsy.clonegram.config.mybatis.UserTypeHandler"/>
    </resultMap>


    <insert id="save" parameterType="UserCreateDto">
        insert into user (username, password, email, grade)
        values (#{userName}, #{password}, #{Email}, #{grade.code});
    </insert>

    <insert id="followUser" parameterType="Follow" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO follow (user_id, follower_id)
        values (#{userId}, #{followerId});
    </insert>
    
    <select id="findById" resultMap="userMap">
        select user_id, username, password, email, full_name, bio, profile_image_url, grade
        from user
        where user_id = #{id}
    </select>

    <select id="findByEmail" resultMap="userMap">
        select user_id, username, password, email, full_name, bio, profile_image_url, grade
        from user
        where email = #{email}
    </select>

    <delete id="delete" parameterType="int">
        delete
        form user
        where user_id = #{id}
    </delete>

    <update id="updateUser" parameterType="UserUpdateDto">
        UPDATE user
        <set>
            <if test="email != null"> email = #{email},</if>
            <if test="password != null"> password = #{password},</if>
            <if test="fullName != null"> full_name = #{fullName},</if>
            <if test="bio != null"> bio = #{bio},</if>
            <if test="profileImageUrl != null"> profile_image_url = #{profileImageUrl},</if>
            <if test="grade != null"> grade = #{grade.code}</if>
        </set>
        WHERE user_id = #{targetId}
    </update>


    <select id="findByName" resultMap="userMap">
        select user_id, username, password, email, full_name, bio, profile_image_url, grade
        from user
        where username = #{username}
    </select>

    <select id="findAll" resultMap="userMap">
        select *
        from user
    </select>

    <select id="findFollowersByUserId" resultType="Follow">
        SELECT *
        FROM follow
        WHERE user_id = #{id}
    </select>

    <select id="findFollowingsByUserId" resultType="Follow">
        SELECT *
        FROM follow
        WHERE follower_id = #{id}
    </select>

    <delete id="unfollowUser" parameterType="Follow">
        DELETE FROM follow
        WHERE user_id = #{userId}
          AND follower_id = #{followerId}
    </delete>



</mapper>